@import "tailwindcss";

:root {
  --background: #e6e6e6;
  --foreground: #171717;
  --muted: #737373;
  --border: #525252;
  /* Darker border for light mode */
}

.dark {
  --background: #111111;
  --foreground: #ededed;
  --muted: #a3a3a3;
  --border: #333333;
  /* Lighter border for dark mode */
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted-foreground: var(--muted);
  --color-border: var(--border);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  position: relative;
}



html {
  scroll-behavior: smooth;
}
